<p>
    Workhorse is a distributed programming server. Clients retrieve a problem and a solver, and return a solution.
</p>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/yabble.js"></script>
<script type="text/javascript" src="/client.js"></script>
